@model GigHub.ViewModels.DetailsViewModel
@{
    ViewBag.Title = "title";
}

<h2>@Model.Gigs.Artist.Name</h2>
<div id="details">
    @if (User.Identity.IsAuthenticated)
    {
        var followText = Model.IsFollowed ? "followed" : "follow";
        <button class="btn @(Model.IsFollowed ? "btn-info" : "btn-default") js-toggle-followings" data-followings-id="@Model.Gigs.ArtistId">@followText</button>
    }
    <p>
        Performing at @Model.Gigs.Venue on @Model.Gigs.DateTime.ToString("d MMM") at @Model.Gigs.DateTime.ToString("HH:MM")
    </p>
    @if (Model.IsAttending && User.Identity.IsAuthenticated)
    {
        <p>You are attending the gig.</p>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            followingController.init();
        });
    </script>
}